<div class="container-fluid bgcon">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="contactform">
					
					<div class=" card">
						<div class="card-body">
							<div class="text-center">
						             <h3> Contact Us</h3>
					        </div>
						
					<form class="form-group">
						
						<input type="text" name="fname" placeholder="Full Name" required class="form-control">
						
						<input type="Email" name="Email" placeholder="Email Id" required class="form-control">
						
						<input type="text" name="Pnumber" placeholder="Contact No." required class="form-control">
						
						<textarea type="text" name="Message" placeholder="Message.." class="form-control"></textarea>
						<button type="submit" class="btn btn-primary btn-block">Submit</button>
					</form>
				</div>
			</div>
				</div>
			</div>
		</div>
	</div>
</div>